
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

covid19casesnyc_com.ca-bundle
covid19casesnyc_com.crt
covid19casesnyc_com.p7b
COMODORSAAddTrustCA.crt
COMODORSADomainValidationSecureServerCA.crt
ssl-bundle.crt
allowVPCinRoute53.txt
workbook.txt
privatekey.pem
